<fieldset>
    <label>
        <input name="{{name}}" type="{{type}}" value="{{value}}" placeholder="{{getTitle name}}" {{#if disabled}}disabled{{/if}}>
        <span>{{getTitle name}}</span>
        {{> form_input_password_toggle }}
        <h5 class="subheading" style="margin-block-start:0em; margin-block-end:0em;">
            [example password: bHs8Ryng]
        </h5>
    </label>
    {{> messages }}
</fieldset>
