<fieldset>
    <label>
        <p>[GA4GH] Form for Password Login [use this as password: bHs8Ryng]</p>
        <input name="{{name}}" type="{{type}}" value="{{value}}" placeholder="{{getTitle name}}" {{#if disabled}}disabled{{/if}}>
        <span>{{getTitle name}}</span>
        {{> form_input_password_toggle }}
    </label>
    {{> messages }}
</fieldset>
