<div class="content">
    {{> header}}
    <div class="container" style="margin-top:0">
        <h2 class="greeting">GA4GH Passports Landing Page</h2>
        <p style="margin:0;">
            <span class="user-identifier"><b>{{session.identity.traits.name.first}} {{session.identity.traits.name.last}}</b></span>
        </p>
        <h5 style="margin-block-start:0;">
            <span class="user-identifier">{{session.identity.traits.email}}</span>
        </h5>

        <form action="will be filled out..." method="POST" style="margin-top:0em">
            <h3 style="margin-top:0.3em; margin-bottom:0.3em; font-size:30px;">Profile</h3>

            <ul style="list-style:none; padding-inline-start:0em; margin-block:0em">
                <li style="overflow:hidden">
                    <tr>
                        <td><input type="checkbox" id="name"/></td>
                        <td>
                            <label for="name">Name</label>
                            <br>
                            <h5 style="margin:0em; margin-top:0.4em; margin-bottom:0.4em; color:rgb(182, 182, 182);">
                                {{session.identity.traits.name.first}} {{session.identity.traits.name.last}}
                            </h5>
                        </td>
                    </tr>
                </li>

                <li style="overflow:hidden">
                    <tr>
                        <td><input type="checkbox" id="email"/></td>
                        <td>
                            <label for="email">Email</label>
                            <br>
                            <h5 style="margin:0em; margin-top:0.4em; margin-bottom:0.4em; color:rgb(182, 182, 182);">
                                {{session.identity.traits.email}}
                            </h5>
                        </td>
                    </tr>
                </li>
            </ul>

            <h3 style="margin-top:0.3em; margin-bottom:0.3em; font-size:30px;">Visas</h3>

            <ul style="list-style:none; padding-inline-start:0em; margin-block:0em">
                {{#each visas}}
                    <li style="overflow:hidden; margin-bottom:0.5em;">
                        <tr>
                            <td><input type="checkbox" id="{{this.visaId}}"/></td>
                            <td>
                                <label for="{{this.visaId}}">{{this.name}}</label>
                                <br>
                                <h5 style="margin:0em; margin-top:0.4em; margin-bottom:0.4em; color:rgb(182, 182, 182);">
                                    {{this.description}}
                                </h5>
                            </td>
                        </tr>
                    </li>
                {{/each}}
            </ul>
            <button style="margin-top:1.5rem; margin-bottom:3rem">Get Passport Token</button>
        </form>
    </div>
</div>
