<!DOCTYPE html>
<html lang="en">

    <head>
        <div class="header" img>
            <img src="../lib/public/ga4gh-logo.png" alt="login">
        </div>
        <div>
            <h1 id="login-title">
                GA4GH Passports [EJS]
            </h1>
            <h2>
                An application requests access to your data!
            </h2>
        </div>
    </head> 

    <body>
        <h2>
            Please choose your consent preferences below
        </h2>
        <form action= "<%= action %>" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="challenge" value="<%= challenge %>">

            <% if (client.logo_uri) { %>
                <img src="<%= client.logo_uri %>">
            <% } %>

            <p>
                Hi <%= user %>, application <strong> <%= client.client_name || client.client_id %> </strong> wants access resources on your behalf and to:
            </p>

            <% for(var i=0; i < requested_scope.length; i++) { %>
                <% var scope = requested_scope[i] %>
                <input type="checkbox" class="grant_scope" id="<%= scope %>" value="<%= scope %>" name="grant_scope">
                <label for="<%= scope %>"> <%= scope %> </label>
                <br> 
            <% } %>

            <p>
                Do you want to be asked next time when this application wants to access your data? The application will
                not be able to ask for more permissions without your consent.
            </p>

            <ul>
                <% if(client.policy_uri) { %>
                        <li>
                            <a href="<%= client.policy_uri %>">
                                Policy
                            </a>
                        </li>
                <% } %>
                <% if(client.tos_uri) { %>
                    <li>
                        <a href="<%= client.tos_uri %>">
                            Policy
                        </a>
                    </li>
                <% } %>
            </ul>
            <p>
                <input type="checkbox" id="remember" name="remember" value="1">
                <label for="remember"> Do not ask me again </label>
            </p>
            <br>
            <p>
                <input type="submit" id="accept" name="submit" value="Allow access">
            </p>
            <p>
                <input type="submit" id="reject" name="submit" value="Deny access">
            </p>
        </form>
    </body>

</html>