<!DOCTYPE html>
<html lang="en">
<head>
    {{#if baseUrl}}
    <base href="{{baseUrl}}"/>
    {{/if}}
    <link rel="icon"
          type="image/png"
          href="{{pathPrefix}}kratos/favico.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <meta charset="utf-8">
    <title>{{projectName}}</title>
    <link rel="stylesheet" href="{{pathPrefix}}kratos/index.css">
    <link rel="stylesheet" href="{{pathPrefix}}kratos/typography.css">
    <link rel="stylesheet" href="{{pathPrefix}}kratos/form.css">
    <link rel="stylesheet" href="{{pathPrefix}}kratos/auth.css">
    <link rel="stylesheet" href="{{pathPrefix}}kratos/styles.css">
</head>
<body>

{{{body}}}

</body>
</html>
